@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --bgc1: hsl(252, 100%, 67%);
    --bgc2: hsl(241, 81%, 54%);
    --bgc3: hsla(322, 50%, 87%, 1);
    --bgc4: hsl(88, 77%, 78%);
    --bgc5: hsla(190, 76%, 87%, 1);
    --circle1: hsla(256, 72%, 46%, 1);
    --circle2: hsla(241, 72%, 46%, 0.6);
    --color1: hsl(0, 0%, 100%);
    --color2: hsl(221, 100%, 96%);
    --color3: hsl(241, 100%, 89%);
    --color4: hsl(224, 30%, 27%);
    
}

body {
     background-color: var(--color2);
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    
}

#container {
    display: flex;
    margin: 120px 120px 120px 120px;
    width: 550px;
    background-color: var(--color1);
    border-radius: 25px;
    box-shadow: 0 24px 28px var(--color3), 0 24px 28px var(--color3);
}



.results {
    background-color: var(--bgc2);
    width: 300px;
    height: 350px;
    text-align: center;
    font-family: "Hanken Grotesk", sans-serif;
    border-radius: 25px;
    padding-top: 15px;
    
}

h1 {
    color: var(--color3);
    font-size: 15px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--circle2);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    color: var(--color3);
   
}

.bold {
    color: var(--color1);
    font-size: 65px;
    font-weight: 800;
}

h2{
    color: var(--color2);

}

p{
    color: var(--color3);
}

.summary {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-bottom: 30px;
    font-family: "Hanken Grotesk", sans-serif;
    
}

h3 {
    font-size: 15px;
    padding-top: 10px;
}

#data {
    display: flex;
    flex-direction: column;
    line-height: 35px;
    gap: 16px;
    width: 180px;
    
    
}

#reaction {
    background-color: var(--bgc3);
    border-radius: 8px;
    
}

#memory {
    background-color: var(--bgc4);
    border-radius: 8px;
}

#verbal {
    background-color: var(--bgc5);
    border-radius: 8px;
}

#visual {
    background-color: var(--bgc1);
    border-radius: 8px;
}

.btn {
    background-color: var(--color4);
    border: none;
    border-radius: 25px;
    width: 180px;
    height: 35px;
    color: var(--color1);
    cursor: pointer;
     
}

.percentage {
    font-weight: 700
}

span {
    padding-left: 24px;
    
}

img {
    padding-right: 10px;
}
